
.contents__chat-main
  .content__main-header
    .content__main-header__box
      .content__main-header__box__group
        =@group.name
      .content__main-header__box__member-list
        Member:
        - @group.users.each do |user|
          =user.name
        
    .content__main-header__edit
      .content__main-header__edit-btn  
        =link_to 'Edit', edit_group_path(@group.id)
          

  .content__messages
    .messages
      = render @messages
      


  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('far', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'


  -# .content__form
  -#   .content__new-message
  -#     .content__new-message__input-box
  -#       %input{placeholder: "type a message",class: "input-box-text"}
  -#       %label{class: "input-box__image"}
  -#         = icon('fas', 'image')
  -#         %input{type: "file", class: "input-box__image__file"}
  -#       -# .content__new-message__input-box__image__fa-image

  -#     %input{type: "submit", value: "Send", class:"submit-btn"}