
.contents__chat-side
  .content__side-header
    .content__side-header__box
      %h3.content__side-header__box-username
        = current_user.name
      %ul.content__side-header__box-menu
        %li.menu
        = link_to new_group_path do
          = icon('fas', 'edit', class: 'icon')
        %li.menu
        = link_to edit_user_path(current_user) do
          = icon('fas','cog', class: 'icon')

  .contents__groups
    - current_user.groups.each do |group|
      .group
        = linl_to group_messages_path(group) do
          .content__group
            = group.name
          .content__comment
            メッセージはまだありません。

          -# .content__group
          -#   sample-group
          -# .content__comment
          -#   hello!
            
          -# .content__group
          -#   sample-group
          -# .content__comment
          -#   まだメッセージがありません。



  